.a{
    background-color: red;
    height: 200px;
    width: 200px;
    transform: rotate(45deg);
   margin: 50% ;
   position: absolute;
   animation: shashank 1s infinite;
}
.a::after ,.a::before{
    
    background-color: red;
    content: ' ';
    border-radius: 50%;
    position: absolute;
    height: 200px;
    width: 200px;
}
.a::after{
    top: 0;
    left: -100px;

}
.a::before{
    top: -100px;
    left: 0;
}
@keyframes shashank {
    0%{
        transform: scale(1)rotate(45deg);
    }
    50%{
        transform: scale(0.8)rotate(45deg);
    }
    100%{
        transform: scale(1.2)rotate(45deg);
    }
}


